<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ae.marvelappication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.ae.marvelappication.core.App"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/marvel_app_ic_launcher"
        android:label="@string/marvel_app_app_name"
        android:roundIcon="@mipmap/marvel_app_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/marvel_app_Theme.MarvelApplication">
        <activity
            android:name="com.ae.marvelappication.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>